.DS_Store
node_modules
/build
/dist
/package
.env
.env.*
!.env.example
tests/
.eslintrc.cjs
tsconfig.node.json
vite.config.ts

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock,
package.json