.header {
  height: 32px;
  margin-bottom: 0.5rem;
}

.amount {
  height: 102px;
  margin-top: 0.5rem;
}

.row {
  margin-top: 1rem;
  height: 56px;
}

.grid {
  margin-top: 1rem;
  height: 58px;
}

.button {
  margin-top: 1rem;
  height: 45px;
}
